main .daily .tile:last-of-type {
    margin-bottom: 4rem;
}

@media (min-width: 768px) {
    main .daily .tile {
        font-size: .78rem;
    }

    main .daily .tile,
    main .daily .tile .main,
    main .daily .tile .additional .date span {
        border-radius: 0;
        padding: 0;
        margin: 0;
    }

    main .list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    main .daily .tile {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        height: 9rem;
        width: 7.5rem;
        border-bottom: 2px solid;
    }

    main .daily .tile .main {
        height: 8.5rem;
        width: 100%;
    }

    main .daily .tile .additional,
    main .daily .tile .additional .date {
        width: 100%;
    }

    main .daily .tile .additional .date {
        text-align: center;
    }

    main .daily .tile .additional .info {
        display: none;
    }
}


/* Colors */
main .daily .tile {
    background-color: var( --color-add-2);
}

main .daily .tile .main,
main .daily .tile .additional .date span {
    background-color: var(--color-add-3);
}

@media (min-width: 768px) { 
    main .daily .tile {
        border-color: #2f2f2f;
    }

    main .daily .tile .main,
    main .daily .tile .additional .date span {
        background-color: initial;
    }

    main .daily .tile .additional .date,
    main .daily .tile .additional .date span {
        background-color: var(--color-secondary);
        color: var(--color-add-1);
    }

    main .list .tile:nth-child(2n+1) {
        background-color: var(--color-add-1);
    }
}