footer .content {
    height: 2rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.75rem;
    font-family: var(--text-ft);
}


@media (min-width: 768px) {
    footer .content {
        border-radius: 5px 5px 0 0;
    }
 }

 
 /* Colors */
footer .content {
    background-color: var(--color-add-2);
    color: var(--color-add-0);
}

@media (min-width: 768px) { 
    footer .content {
        background-color: var(--color-add-2);
        border-color: var(--color-add-0);
    }
}