/* Mobile First */
/* Header styles */
header .content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

header a {
    text-decoration: none;
}

header #logo img,
header #menus img {
    height: 2.188rem;
    width: auto;
}

/* Menus styles */
header #menus label {
    user-select: none;
}

header #menus input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    right: 0;
}
  
header #menus input[type="checkbox"]:checked ~ ul {
    visibility: visible;
}
  
header #menus ul {
    visibility: hidden;
    position: absolute;
    width: 100%;
    left: 0rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    list-style: none;
    padding-left: 1rem;
}

header #menus li {
    font-family: var(--text-ft);
    font-size: 1rem;
    padding: 0 1rem;
    margin: .5rem 0;
    border-left: 3px solid;
}

/* Search styles */
header #search form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header #search input, 
header #search input:focus {
    font-family: var(--text-ft);
    font-size: .8rem;
    text-align: center;
    outline: none;
    width: 14rem;
    
    border-style: none none solid none;
    border-width: 1px;
}

/* For Tablets */
@media (min-width: 768px) {
    header #search input, 
    header #search input:focus {
        width: 20rem;
    }

    header #menus ul {
        flex-direction: row;
        visibility: visible;
        position: static;

        justify-content: initial;
        align-items: start;
        padding: 0;
    }

    header #menus li {
        color: initial;
        font-family: var(--text-ft);
        font-size: .9rem;
        border-left: none;
        border-bottom: 2px solid;
        text-align: center;

        margin: 0 .5rem;
        padding: 0 .5rem;
    }

    header #menus label,
    header #menus input[type="checkbox"] {
        display: none;
    }
}

/* Colors */
header a,
header a:visited {
    color: var(--color-secondary);
}


header #menus ul {
    background-color: var(--color-initial);
}

header #menus li:nth-child(1) {
    border-color: var(--color-secondary);
}

header #menus li:nth-child(2) {
    border-color: var(--color-add-0);
}

header #menus li:nth-child(3) {
    border-color: var(--color-add-1);
}