main .hourly .tile:last-of-type {
    margin-bottom: 4rem;
}

@media (min-width: 768px) {
    main .daily .tile {
        font-size: 0.78rem;
    }
    main .daily .tile .main,
    main .daily .tile .additional {
        height: 7rem;
        width: initial;
    }

    main .daily .tile .additional {
        flex-grow: 3;
    }

    main .daily .tile .additional .info {
        align-self: center;
        margin: 0 0 0 1rem;
    }

    main .daily .tile .main {
        flex-grow: 1;
    }

    main .daily .tile .main {
        flex-direction: row;
    }
    main .daily .tile .main a img{
        height: 4rem;
        width: auto;
    }

    main .daily .tile .main .info{
        font-size: .8rem;
        margin-left: 1rem;
    }
}

/* Colors */
main .tile {
    background-color: var( --color-add-2);
}

main .tile .main,
main .tile .additional .date span {
    background-color: var(--color-add-3);
}