main,
main a {
    font-family: var(--text-ft);
}

main #block-name {
    font-size: 1rem;
    margin-bottom: .5rem;
}

main .about {
    margin-bottom: 4rem;
}

main .about {
    font-size: .9rem;
}

main .about li {
    font-size: 0.75rem;
    margin: .5rem 0 .5rem 1rem;
}

main .error_message {
    height: 10rem;
    width: 100%;
    font-size: .85rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px dashed;
    margin-bottom: 4rem;
}


@media (min-width: 768px) {
    main .about main,
    main #block-name {
        font-size: 1.1rem;
    }
    main .about li {
        font-size: .78rem;
    }
}

/* daily & hourly .tile styles*/
main .tile,
main .tile .additional {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

main .tile .main,
main .tile .info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

main .tile {
    width: 100%;
    font-size: 0.7rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

main .tile .main {
    height: 6rem;
    width: 5.75rem;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0 0 5px;
}

main .tile .main img {
    height: 3rem;
    width: auto;
}

main .tile .additional {
    width: calc(100% - 5.75rem);
    justify-content: space-between;
}

main .tile .additional .info {
    margin: .5rem 0 0 .5rem;
}

main .tile .additional .date span {
    border-radius: 0 5px 0 0;
    padding: 0 .3rem;
}

/* Colors */
main,
main a {
    color: var(--color-secondary);
}

main .error_message {
    border-color: lightgrey;
}