/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root {
    --text-ft: 'Space Mono', monospace;
    --color-initial: #ffffff;
    --color-secondary: #2f2f2f;
    --color-add-0: #868686;
    --color-add-1: #dcdcdc;
    --color-add-2: #f3f3f3;
    --color-add-3: #cccccc;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    padding: 1rem 1rem 0;
}

#viewport {
    min-height: calc(100vh - 2rem);
}

@media (min-width: 768px) {
    .content {
        width: 768px;
        margin: 0 auto;
    }
}