{% extends "index.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/daily.css' %}">
{% endblock styles %}

{% block content %}
    <div id="block-name"> DAILY INFO</div>
    <div class="list daily">
        {% for date, data in weather_data.items %}
        <div class="tile">
            <div class="main">
                <a href="{{ date }}"><img src="{{ data.weather_icon }}" alt="weather"></a>
                <div class="info">
                    <span> max: {{ data.temperature_2m_max }}°C </span>
                    <span> min: {{ data.temperature_2m_min }}°C </span>
                </div>
            </div>
    
            <div class="additional">
                <div class="info">
                    <span> Wind: {{ data.windspeed_10m_max }}km/h </span>
                    <span> Precipitation: {{ data.precipitation_sum }}mm </span>
                    <span> Type: {{ data.weather_name }} </span>
                </div>
                <div class="date"><span> {{ date }} </span></div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}