{% extends "index.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/hourly.css' %}">
{% endblock styles %}

{% block content %}
    <div id="block-name"> DAY INFO</div>
    <div class="list daily">
        {% for date, data in weather_daily_data.items %}
        <div class="tile">
            <div class="main">
                <a href="."><img src="{{ data.weather_icon }}" alt="weather"></a>
                <div class="info">
                    <span> max: {{ data.temperature_2m_max }}°C </span>
                    <span> min: {{ data.temperature_2m_min }}°C </span>
                </div>
            </div>

            <div class="additional">
                <div class="info">
                    <span> Wind: {{ data.windspeed_10m_max }}km/h </span>
                    <span> Precipitation: {{ data.precipitation_sum }}mm </span>
                    <span> Type: {{ data.weather_name }} </span>
                </div>
                <div class="date"><span> {{ date }} </span></div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
    <div id="block-name"> HOURLY INFO</div>
    
    <div class="list hourly">
        {% for time, data in weather_hourly_data.items %}
        <div class="tile">
            <div class="main">
                <img src="{{ data.weather_icon }}" alt="weather">
                <div class="info">
                    <span>Temp: {{ data.temperature_2m }}°C </span>
                </div>
            </div>

            <div class="additional">
                <div class="info">
                    <span> Relativehumidity: {{ data.relativehumidity_2m }}% </span>
                    <span> Cloudcover: {{ data.cloudcover }}% </span>
                    <span> Windgusts: {{ data.windgusts_10m }}km/h </span>
                    <span> Type: {{ data.weather_name }} </span>
                </div>
                <div class="date"><span> {{ time }} </span></div>
            </div>
        </div>
        {% endfor %}
    </div>
    
{% endblock content %}