{% load static %}
<html>
    <head>
        <title> weather-app </title>
        <meta name="viewport" content="
            width=device-width, 
            height=device-height, 
            initial-scale=1, 
            minimum-scale=1, 
            maximum-scale=1, 
            user-scalable=no
        "/>
        <link rel="shortcut icon" type="image/svg" href="{% static 'icons/clouds-fill-white.svg'%}"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
        {% block styles %}
        {% endblock styles %}
    </head>

    <body>
        <div id="viewport">
            <header>
                <div class="content">
                    <div id="logo"> 
                        <a href="/"> 
                            <img src="{% static 'icons/clouds-fill.svg'%}" alt="home-button">
                        </a> 
                    </div>
    
                    <div id="search">
                        <form action="{% url 'weather:index' %}" method="post">
                            {% csrf_token %}
                            {{ form }}
                        </form>
                    </div>
    
                    <div id="menus"> 
                        <input type="checkbox" id="menu-button">
                        <label for="menu-button">
                            <img src="{% static 'icons/list.svg'%}" alt="menu-button">
                        </label>
                        <ul>
                            {% if location_name != None %}
                                <li><a href="{%url 'weather:hourly' location_name today_date %}">Today</a></li>
                                <li><a href="{% url 'weather:daily' location_name %}"> Daily </a></li>
                            {% else %}
                                <li><a href="/"> Today </a></li>
                                <li><a href="/"> Daily </a></li>
                            {% endif %}
                            <li><a href="https://gitlab.com/tress97"> GitLab </a></li>
                        </ul>
                    </div>
                </div>
            </header>
    
            <main> 
                <div class="content">
                {% block content %}
    
                {% endblock content %}
                <ul class="about">
                    <span> How to use: </span>
                    <li> Before starting to view the forecast, you must specify your location; </li>
                    <li> For a more reliable location search, it will be more appropriate to specify the name of the country + city, for example "Kiyv, Ukraine"; </li>
                    <li> The program is divided into two main blocks: a daily and an hourly forecast; </li>
                    <li> The "Daily Forecast" page will show you the forecast for the next 6 days, according to the <a href="https://open-meteo.com/">Open-Meteo</a>; </li>
                    <li> By clicking on the icon, you can view the hourly daily forecast;</li>
                    <li> The "Hourly Forecast" page will show you the forecast for about 6 days hourly. </li>
                </ul>
                </div>
            </main>
        </div>

        <footer>
            <div class="content">
                <span> powered by Open-Meteo </span>
            </div>
        </footer>
    </body>
</html>